<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head th:insert="fragments :: pageHeader">
<meta charset="ISO-8859-1">
<title>Welcome</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.min.css">
  <script type="text/javascript" src="js/bootstrap.bundle.js"> </script>
  <script type="text/javascript" src="js/bootstrap.bundle.min.js"> </script>
  <script type="text/javascript" src="js/bootstrap.js"> </script>
  <script type="text/javascript" src="js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="assets/css/A.bootstrap.min.css+template.css+fa.min.css+gfonts.min.css,Mcc.LI5f1xXhbm.css.pagespeed.cf.G00NPyYGCq.css" rel="stylesheet" media="screen" />
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
<script>if ( top !== self ) top.location.replace( self.location.href );// Hey, don't iframe my iframe!</script>


</head>
<style>

.centered {
  position: absolute;
  top: 36%;
  left: 28%;
  color:black;
  transform: translate(-50%, -50%);
}
.centered1 {
  position: absolute;
  top: 50%;
  left: 35%;
  color:black;
  
  transform: translate(-50%, -50%);
}

.centered2 {
  position: absolute;
  top: 60%;
  left: 35%;
  
  transform: translate(-50%, -50%);
}

</style>
<body>
<div class="container-fluid">
<div th:replace ="fragments :: menu "  >S</div>
</div>
 
<style>
 

.text1
{
font-family:verdana;
    font-size:30px;
color:blue;
    text-align:center;
    font-style: bold;
}

.text11
   {
    font-family:verdana;
    font-size:22px;
    color:#4298f5;
    text-align:center;
    font-style: bold;
    margin-top:10px;
  }
 

</style>

</head>
                               <marquee>  <h4 class="font-weight-bold text-white"> Welcome To MIT College Of Engineering</h4></marquee>


<h3 class="col pt-3 ml-2" style="color:Blue;">SPORTS @MIT</h3>

<img src="https://www.mit.asia/wp-content/uploads/2020/09/MIT_Students_Activity__0021_MIT_Chess_Competition.jpg" class="img-fluid" alt="...">
</div><style>
</style>


<p class="col pt-5">
Sports like badminton, football, cricket, volleyball and basketball attract good number of students. Students participate in inter-college cricket, cricket league and football tournaments on a regular basis. Students have also actively participated in various track and field sport events like judo, karate, running, swimming, athletics, etc.
</p>

<img src="https://www.mit.asia/wp-content/uploads/2020/09/MIT_games_2.jpg" class="img-fluid" alt="...">

  <p class="col pt-5">
Sports like badminton, football, cricket, volleyball and basketball attract good number of students. Students participate in inter-college cricket, cricket league and football tournaments on a regular basis. Students have also actively participated in various track and field sport events like judo, karate, running, swimming, athletics, etc.
</p>
  
  
  <h3 class="col pt-3 ml-2" style="color:Blue;">AMENITIES @MIT</h3>

<div class="container-fluid">     <div class="row">
     <div class="col-md-6">
     <img alt="okay java" src="https://www.mit.asia/wp-content/uploads/2020/09/MIT_central-library-1.jpg " style="height:400px;width:80%;">
     </div>
     <div class="col-sm-6">
     
<h3 class="col pt-3 ml-2" style="color:Red;">Central Library</h3>
<p class="col pt-5">
An exclusive central library with 85000+ volumes, 25000+ titles, 350+ periodicals, 1000+ eBooks, 1000+ national and international journals. Reading rooms with capacity for more than 700 students. Digital library with access to international journals, newspaper and magazine section and e-learning material
</p></div>
     </div>
    
     </div>
         
   </div>
        <p>  
        
        
         </p>
         
       <div class="container-fluid">     <div class="row">
     <div class="col-md-6">
     <img alt="okay java" src="https://www.mit.asia/wp-content/uploads/2020/09/MIT_central-workshop.jpg " style="height:400px;width:80%;">
     </div>
     <div class="col-sm-6">
     
<h3 class="col pt-3 ml-2" style="color:Red;">Central workshop
</h3>
<p class="col pt-5">Workshop with highly modernized equipments to cater the industry needs. Students can access the central workshop with high-tech equipment for their projects throughout the academic year. 

</p></div>
     </div>
    
     </div>
         
   </div>
          <p>  
        
        
         </p>
       <div class="container-fluid">     <div class="row">
     <div class="col-md-6">
     <img alt="okay java" src="https://www.mit.asia/wp-content/uploads/2020/09/0004_CRICKET-MATCH-1-1.jpg " style="height:400px;width:80%;">
     </div>
     <div class="col-sm-6">
     
<h3 class="col pt-3 ml-2" style="color:Red;">Gymnasium & sports

</h3>
<p class="col pt-5">Physical fitness is of prime importance in order to bring out the best in every student. MIT understands that a healthy mind resides in a healthy body and hence includes a well-equipped gymnasium in the campus. There are also sports facilities like a spacious playground for games and recreation. Games like cricket, football and volleyball are quite popular games at MIT. MIT also has dedicated playing areas for indoor games like badminton, carom, chess etc.</p></div>
     </div>
    
     </div>
         
   </div>
         
</body>
</html>