<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head th:insert="fragments :: pageHeader">
<meta charset="ISO-8859-1">
<title>Welcome</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.min.css">
  <script type="text/javascript" src="js/bootstrap.bundle.js"> </script>
  <script type="text/javascript" src="js/bootstrap.bundle.min.js"> </script>
  <script type="text/javascript" src="js/bootstrap.js"> </script>
  <script type="text/javascript" src="js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="assets/css/A.bootstrap.min.css+template.css+fa.min.css+gfonts.min.css,Mcc.LI5f1xXhbm.css.pagespeed.cf.G00NPyYGCq.css" rel="stylesheet" media="screen" />
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
<script>if ( top !== self ) top.location.replace( self.location.href );// Hey, don't iframe my iframe!</script>


</head>
<style>

.centered {
  position: absolute;
  top: 36%;
  left: 28%;
  color:white;
  transform: translate(-50%, -50%);
}
.centered1 {
  position: absolute;
  top: 50%;
  left: 35%;
  color:white;
  
  transform: translate(-50%, -50%);
}

.centered2 {
  position: absolute;
  top: 60%;
  left: 35%;
  
  transform: translate(-50%, -50%);
}

</style>
<body>
<div class="container-fluid">
<div th:replace ="fragments :: menu "  >S</div>
</div>
 
  <div class="container-fluid">
        <img src="images/image2.jpg"  style="width:100%; height:500px;">
        <div class="centered"><h1>Inspiration, Innovation, and Discovery</h1></div>
        <div class="centered1"><h4>Any successful career starts with good education. Together with us you will have deeper knowledge of the <br>subjects that will be especially useful for you when climbing the career ladder.</h4></div>
        <div class="centered2">
          <button type="button" class="btn btn-danger" th:href="@{/addStudent}">Sign Up for Excursion</button>
          <button type="button" class="btn btn-outline-info">Learn More</button>
        </div>
    </div>

                        <div th:replace ="fragments :: pageFooter "  ></div>

 
</body>
</html>